<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="/lib/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-light pt-3 d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <p><i class="fa fa-envelope mr-2"></i>estaciones.espoch@espoch.edu.ec</p>
                        <p class="text-body px-3">|</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>593(03) 2998-200 ext 2221</p>
                    </div>
                </div>
                <div class="col-lg-5 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-info px-3" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-info px-3" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-info px-3" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-4">
                <img src="/img/logo-espoch.png" alt="">
                <a href="/inicio" class="navbar-brand">
                    <h2 class="m-0 text-info"><span class="text-dark">Estaciones</span></h2>
                    <h2 class="m-0 text-info">Meteorológicas</h2>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/inicio" class="nav-item nav-link">Inicio</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Información</a>
                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                <a href="/estaciones" class="dropdown-item">Estaciones</a>
                                <a href="/sensores" class="dropdown-item">Sensores</a>
                                <a href="/mantenimiento" class="dropdown-item">Mantenimiento</a>
                                <a href="/equipo" class="dropdown-item">Equipo de trabajo</a>
                            </div>
                        </div>
                        <a onclick="ShowInfo()" class="nav-item nav-link">Datos</a>
                        <a href="/mapas" class="nav-item nav-link">Mapas</a>
                        <a href="/noticias/1" class="nav-item nav-link">Noticias</a>
                        <a href="/contacto" class="nav-item nav-link active">Contacto</a>
                        <% if (auth) {%>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-user"></i></a>
                                <div class="dropdown-menu border-0 rounded-0 m-0">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="px-1">
                                                <img src="/img/avatar.png" alt class="w-px-40 h-auto rounded-circle" />
                                            </div>
                                        </div>
                                        <div class="px-lg-2 ml-n1">
                                            <span class="fw-semibold d-block text-info text-truncate">
                                                <%= admin.nombre %>
                                            </span>
                                            <small class="text-muted">Admin</small>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a href="/perfil" class="dropdown-item"><i class="fa fa-user mr-2"></i>Mi perfil</a>
                                    <a href="/admins" class="dropdown-item"><i
                                            class="fa fa-users mr-2"></i>Administradores</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/signoff" class="dropdown-item"><i class="fa fa-power-off mr-2"></i>Cerrar
                                        sesión</a>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase text-center">Contacto</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="/inicio">Inicio</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Contacto</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Contacto Start -->
    <div class="container-fluid py-3">
        <div class="container pt-5 pb-1">
            <div class="text-center mb-3 pb-1">
                <h6 class="text-info text-uppercase" id="contacto" style="letter-spacing: 5px;">Contacto</h6>
                <h2>Información de contacto</h2>
                <div class="container pt-3">
                    <div class="bg-light shadow" style="padding: 30px;">
                        <div class="row align-items-center" style="min-height: 60px;">
                            <div class="col-md-12 text-lg-left">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <h6 class="text-muted text-uppercase mb-4" style="letter-spacing: 4px;">
                                            Contáctenos</h6>
                                        <p title="Dirección"><i
                                                class="fa fa-map-marker-alt mr-2 text-info"></i>Panamericana Sur km 1
                                            1/2, Riobamba-Ecuador</p>
                                        <p title="Correo"><i
                                                class="fa fa-envelope mr-2 text-info"></i>estaciones.espoch@espoch.edu.ec
                                        </p>
                                        <p title="Teléfono"><i class="fa fa-phone-alt mr-2 text-info"></i>593(03)
                                            2998-200 ext 2221</p>
                                        <p title="Código postal"><i class="fa fa-thumbtack mr-2 text-info"></i>EC060155
                                        </p>
                                        <p title="Página web"><i class="fa fa-desktop mr-2 text-info"></i>Pagina web</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <h6 class="text-muted text-uppercase mb-4" style="letter-spacing: 4px;">
                                            Formulario de contacto</h6>
                                        <form id="formAuthentication" class="mb-3" action="/contacto#contacto"
                                            method="POST">
                                            <div class="mb-3">
                                                <input type="text" class="form-control" name="nombre"
                                                    placeholder="Nombre" required />
                                            </div>
                                            <div class="mb-3">
                                                <input type="email" class="form-control" name="correo"
                                                    placeholder="Correo electrónico" required />
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control" name="asunto"
                                                    placeholder="Asunto" required />
                                            </div>
                                            <div class="control-group">
                                                <textarea class="form-control py-3 px-4" rows="4" placeholder="Mensaje"
                                                    required="required" name="mensaje"
                                                    data-validation-required-message="Ingrese el mensaje"></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="mb-3 text-center">
                                                <button class="btn btn-info d-grid" type="submit" style="width: 110px;">
                                                    <i class="fa fa-paper-plane mr-2"></i>Enviar</button>
                                            </div>
                                        </form>
                                        <% if (ok==1) {%>
                                            <p style="color:#1dbb25"><i class="fa fa-check mr-2"></i>
                                                <%= message %>
                                            </p>
                                            <% } else if(ok==0) {%>
                                                <p style="color:#ff5c5c"><i class="fa fa-ban mr-2"></i>
                                                    <%= message %>
                                                </p>
                                                <% } %>
                                    </div>
                                    <!--<input type="file" id="file-input" />-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contacto End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 py-3 px-sm-3 px-lg-5" style="margin-top: 10px;">
        <div class="row pt-5">
            <div class="col-lg-5 col-md-6 mb-3">
                <a href="" class="navbar-brand">
                    <h2 class="text-info"><span class="text-white">Estaciones</span></h2>
                    <h2 class="text-info">Meteorológicas</h2>
                </a>
                <p>Caracterización de las condiciones físicas y meteorológicas para la implementación de dispositivos de
                    generación de energías eólicas y solar en la Provincia de Chimborazo.</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Síganos</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-outline-info btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-info btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-info btn-square" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Enláces</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="/inicio"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                    <a class="text-white-50 mb-2" href="/estaciones"><i
                            class="fa fa-angle-right mr-2"></i>Estaciones</a>
                    <a class="text-white-50 mb-2" href="/sensores"><i class="fa fa-angle-right mr-2"></i>Sensores</a>
                    <a class="text-white-50 mb-2" href="/mantenimiento"><i
                            class="fa fa-angle-right mr-2"></i>Mantenimiento</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Datos</a>
                    <a class="text-white-50 mb-2" href="/mapas"><i class="fa fa-angle-right mr-2"></i>Mapas</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contáctenos</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Panamericana Sur km 1 1/2, Riobamba, Ecuador</p>
                <p><i class="fa fa-phone-alt mr-2"></i>593(03) 2998-200 ext 2221</p>
                <p><i class="fa fa-envelope mr-2"></i>estaciones.espoch@espoch.edu.ec</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <img class="px-3" src="/img/logo-espoch2.png" alt="">
            <img class="px-3" src="/img/logo-geaa.png" alt="">
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
        style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white-50">Copyright &copy; 2023
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <p class="m-0 text-white-50">Designed by <a href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-info btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- Librerias JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Javascript Principal -->
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script>
        //Primera aproximacion a la funcion para leer archivos .rep
        function leerArchivo(e) {
            let archivo = e.target.files[0];
            if (!archivo) {
                return;
            }
            let lector = new FileReader();
            let bugs = [];
            lector.onload = function (e) {
                let contenido = e.target.result;

                let datos = contenido.split(';');
                let newdato = datos[0].slice(1);
                datos[0] = newdato;
                newdato = datos[datos.length - 1].slice(0, -1);
                datos[datos.length -1] = newdato;
                let dato;
                let data = [];
                //let data = { variable, valor };
                for (let i = 0; i < datos.length; i++) {
                    //datos[i] = datos[i].replace("/", "0");
                    let aux = datos[i].split(':');
                    dato = { variable: aux[0], valor: aux[1]};
                    data.push(dato);
                }
                console.log(data);
            };
            lector.readAsText(archivo);
        }

        document.getElementById('file-input').addEventListener('change', leerArchivo, false);
    </script>
</body>

</html>